# Environment variables
.env

# Logs
logs/
*.log

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/
.venv/

# Docker
*.pid
*.sock
docker-compose.override.yml

# IDE files
.idea/
.vscode/
*.swp

# Dist / build
dist/
build/

# System files
.DS_Store
Thumbs.db